@{
    ViewData["Title"] = "Profile";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lilita+One&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/Profile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div class="header">
        <div class="container">


            <div class="header-line">


                <div class="nav">
                    <a class="header_text" asp-action="Profile" asp-controller="Profile">@User.Identity!.Name</a>
                    <a class="user_pic" asp-action="Profile" asp-controller="Profile"><img src="~/images/Graphic_Files/user_pic.png" alt=""></a>
                </div>


            </div>

        </div>
    </div>

    <div class="slidebar">
        <ul>

            <li class="logo">
                <a href="#">
                    <span class="icon"><div class="logo"><img src="~/images/Graphic_Files/timer.png" alt=""></div></span>
                    <div class="logo_text">Timetracker</div>
                </a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Index" asp-route-returnurl="@ViewData[" ReturnUrl"]">
                    <span class="icon"><img src="~/images/Graphic_Files/menu_icon.png" alt=""></span>
                    <span class="text">Главная Страница</span>
                </a>
            </li>
            <li>
                <a asp-controller="TaskTable" asp-action="TaskTable" asp-route-returnurl="@ViewData[" ReturnUrl"]">
                    <span class="icon"><img src="~/images/Graphic_Files/task.png" alt=""></span>
                    <span class="text">Список задач</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><img src="~/images/Graphic_Files/calendar.png" alt=""></span>
                    <span class="text">События</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><img src="~/images/Graphic_Files/medal.png" alt=""></span>
                    <span class="text">Награды</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><img src="~/images/Graphic_Files/backpack.png" alt=""></span>
                    <span class="text">Инвентарь</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><img src="~/images/Graphic_Files/settings.png" alt=""></span>
                    <span class="text">Настройки</span>
                </a>
            </li>
            <div class="bottom">
            <li>
                <a asp-action="Logout" asp-controller="Account">
                    <span class="icon"><img src="~/images/Graphic_Files/exit.png" alt=""></span>
                    <span class="text">Выйти</span>
                </a>
            </li>
    </div>

    </ul>
    </div>

    <div class="central-block">
        <div class="profile-photo">
            <img src="https://www.pngall.com/wp-content/uploads/5/Profile-Male-Transparent.png" alt="">
        </div>

        <div class="statistics">
            <p onclick="start()">Статистика</p>
        </div>

        <div class="statistic-values">
            <div class="statblock">
                <p>Часы в работе</p>
                <div class="value" id="work">&nbsp;</div>
            </div>
            <div class="statblock">
                <p>Часы отдыха</p>
                <div class="value" id="rest">&nbsp;</div>
            </div>
            <div class="statblock">
                <p>Выполненные задачи</p>
                <div class="value" id="tasks">&nbsp;</div>
            </div>
        </div>
    </div>

    <script src="~/js/script.js"></script>
</body>
</html>
